#tweets
  #index
    - title "Tweets -  #{@tweets.count}"
    
    #results
      = render 'list'

:javascript
  $(function(){
    $('.pagination > a').livequery('click',function(){
      $.ajax({
        url: this.href,
        success: function(html){
          $("#results").html(html);
        }
      });
      return false;
    })
  })