#tweets
  #index
    - title "Tweets -  #{@tweets.count}"
    
    = will_paginate @tweets

    #results
      = render 'list'
            
    = will_paginate @tweets


:javascript
  $(function(){
    $('.pagination > a').click(function(){
      $.ajax({
        url: this.href,
        success: function(html){
          $("#results").html(html);
        }
      });
      return false;
    })
  })