#tweet
  #show
    - title "Tweet"

    %p
      %strong Twitter:
      =h @tweet.twitter_id
    %p
      %strong Sent Dm:
      =h @tweet.sent_dm
    %p
      %strong Is Following:
      =h @tweet.is_following
    %p
      %strong Number Of Friends:
      =h @tweet.number_of_friends
    %p
      %strong Number Of Followers:
      =h @tweet.number_of_followers
    %p
      %strong Profile Pic Url:
      =h @tweet.profile_pic_url
    %p
      %strong Completed:
      =h @tweet.completed
    %p
      %strong Status:
      =h @tweet.status_id

    %p
      = link_to "Edit", edit_admin_tweet_path(@tweet)
      |
      = link_to "Destroy", [:admin, @tweet], :confirm => 'Are you sure?', :method => :delete
      |
      = link_to "View All", admin_tweets_path
