- title "Thank You!", false
#tweet
  #show
    #box
      %h1

      %h3
        = "Thank you for sharing your support #{@user.name} (@#{@user.login})!"
      
      %h3
        We are redirecting you to Facebook to Vote for A Cure Now!!!
        
      %p
        = link_to "If you are not redirected in the next 10 seconds, please click here...", 'http://apps.facebook.com/chasecommunitygiving/charities/710566'