- title "Thank You!", false
#tweet
  #show
    #box
      %h1

      %h3
        = "Thank you for sharing your support #{@user.name} (@#{@user.login})!"
      
      %h3
        We are redirecting you to Facebook to Vote for A Cure Now!!!