@import partials/base.sass
@import compass/css3/gradient.sass
@import partials/tweets.sass
@import partials/admin.sass


html, body
  margin: 0
  padding: 0

body
  background:  white url(/images/twitter/bg.gif) 
  font-family:  "Lucida Grande",Arial,Sans-serif
  font-size:  13px
  line-height: 18pt
  
  #container
    width:  960px
    margin:  0 auto

    #header
      #logo
        margin: 0px
        +float-left

      #title
        text-align: center
        +float-left
        +bold
        +largest
        margin-left: 3em
        margin-top: 1em
      

    
  #footer
    padding-top:  50px
    font-size:  .8em
    text-align:  center

#flash
  margin: 0px

.info_box
  margin: 5px
  +normal
  padding: 5px
  border: 1px dotted #333
  background: #ccc
  color: black

.button
  +fancy-button(lighten(green,10))
  +v-gradient(green, lighten(green,10))
  width: 350px

  
.button:hover
  +fancy-button(green)